body {
  background: #000;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
}
p {
  color: gold;
  background-color: black;
}
#sbXLIII {
float: Ieft;
display: inline-flex;
height: 100%;
padding-bottom: 50px;
}
#sbXIV {
  float: Right;
display: inline-flex;
height: 100%;
padding-bottom: 50px;

#sbIX {
float: Left;
display: inline-flex;
height: 100%;
padding-bottom: 50px;
}
#sbXIII {
  float: Right;
display: inline-flex;
height: 100%;
padding-bottom: 50px;
}
#sbXL {
float: Left;
display: inline-flex;
height: 100%;
padding-bottom: 50px;
}
#sbX {
  float: Right;
display: inline-flex;
height: 100%;
padding-bottom: 50px;
}



